<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Услуги</title>
    <link rel="stylesheet" href="/static-res-services/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <a href="/" class="edit_image">
                <img src="/img-res-services/img/home.png" alt="home image"/>
            </a>
            ПЕРЕЧЕНЬ УСЛУГ
            <a th:href="@{/services/editor}" class="edit_image">
                <img src="/img-res-services/img/editImg.png" alt="settings image"/>
            </a>
            <a href="/logout" class="edit_image">
                <img src="/img-res-services/img/logout.png" alt="home image"/>
            </a>
        </div>
        <div class="listProducts" th:object="${images}">
            <a th:each="index : ${#numbers.sequence(0, #arrays.length(services) - 1)}" th:href="'/services/' + ${services[index].uri}" class="item">
                <img th:src="'data:image/jpeg;base64,' + ${images[index]}" onerror="this.src='/img-res-services/img/not_found.png'" alt="not found image"/>
                <h2 th:text="${services[index].name}"></h2>
                <div class="price" th:text="${services[index].price} + ' ₽'"></div>
            </a>
            <a th:href="@{/services/create}" class="item">
                <h1>+</h1>
            </a>
        </div>
    </div>
</body>
</html>