<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Параметры расчета</title>
    <link rel="stylesheet" href="/static-res-orders/static/css/styles.css">
</head>
<body>
<div th:switch="${settings}">
    <h2 th:case="null">Параметров не найдено!</h2>
    <div th:case="*">
        <div class="title">
            <a href="http://localhost:8080/orders" class="edit_image">
                <img src="/img-res-services/img/home.png" alt="home image"/>
            </a>ПАРАМЕТРЫ РАСЧЕТА
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Стоимость работы</th>
                <th>Аммортизация</th>
                <th>Стоимость электричества</th>
                <th>Мощность принтера, Вт/мин</th>
                <th>Дата обновления цены</th>
                <th>Изменить</th>
                <th>Удалить</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="index : ${#numbers.sequence(0, #arrays.length(settings) - 1)}">
                <td th:text="${settings[index].id}"></td>
                <td th:text="${settings[index].jobPrice} + ' руб/ч'"></td>
                <td th:text="${settings[index].depreciation} + ' руб/мин'"></td>
                <td th:text="${settings[index].electricityPrice} + ' р/Вт/мин'"></td>
                <td th:text="${settings[index].printerPower} + ' Вт/мин'"></td>
                <td th:text="${#dates.format(settings[index].updateDate, 'dd.MM.yyyy')}"></td>
                <td><a th:href="@{/settings/update/{id}(id=${settings[index].id})}" class="edit_image">
                    <img src="/img-res-orders/img/editImg.png" alt="edit image">
                </a></td>
                <td><a th:href="@{/settings/delete/{id}(id=${settings[index].id})}" class="edit_image">
                    <img src="/img-res-orders/img/deleteImg.png" alt="delete image">
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <form action="#" th:action="@{/settings/create}" method="get">
        <div class="btn_container">
            <input class="button__create" type="submit" value="Создать">
        </div>
    </form>
</div>
</body>
</html>