<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактор услуг</title>
    <link rel="stylesheet" href="/static-res-services/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <a href="http://localhost:8080/services" class="edit_image">
                <img src="/img-res-services/img/home.png" alt="home image"/>
            </a>
            РЕДАКТИРОВАНИЕ СПИСКА УСЛУГ
        </div>
        <div class="listProducts" th:object="${images}">
            <a th:each="index : ${#numbers.sequence(0, #arrays.length(services) - 1)}" th:href="'http://localhost:8080/services/delete/'
                                                                                                                        + ${services[index].id}" class="item">
                <img class="cross_img" src="/img-res-services/img/cross.png" alt="cross icon image"/>
                <img th:src="'data:image/jpeg;base64,' + ${images[index]}" onerror="this.src='/img-res-services/img/not_found.png'" alt="not found image"/>
                <h2 th:text="${services[index].name}"></h2>
                <div class="price" th:text="${services[index].price} + ' ₽'"></div>
            </a>
        </div>
    </div>
</body>
</html>