<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<div class="container_order">
    <div class="title">
        <a href="/homepage" class="edit_image"><img src="/static/img/home.png" alt="home image"/></a>
        РЕГИСТРАЦИЯ НОВОГО ПОЛЬЗОВАТЕЛЯ
    </div>
</div>
<form action="#" th:action="@{/register}" method="post" th:object="${user}">
    <div class="container">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div>
            <label for="first_name" class="text-field__label">Фамилия</label>
            <input th:field="*{firstName}" class="text-field__input" type="text" id="first_name" placeholder="Иванов" name="first_name" required/><br/>
        </div>
        <div>
            <label for="last_name" class="text-field__label">Имя</label>
            <input th:field="*{lastName}" class="text-field__input" type="text" id="last_name" placeholder="Андрей" name="last_name" required/><br/>
        </div>
        <div>
            <label for="middle_name" class="text-field__label">Отчество</label>
            <input th:field="*{middleName}" class="text-field__input" type="text" id="middle_name" placeholder="Петрович" name="middle_name" required/><br/>
        </div>
        <div>
            <label for="phone_number" class="text-field__label">Номер телефона</label>
            <input th:field="*{phoneNumber}" class="text-field__input" type="text" id="phone_number" placeholder="+79135462634" name="phone_number" required/><br/>
        </div>
        <div>
            <label for="email" class="text-field__label">Адрес электронной почты</label>
            <input th:field="*{email}" class="text-field__input" type="text" id="email" placeholder="example@gmail.com" name="email" required/><br/>
        </div>
        <div>
            <label for="username" class="text-field__label">Логин для входа</label>
            <input th:field="*{username}" class="text-field__input" type="text" id="username" placeholder="ivanov_ap" name="username" required/><br/>
        </div>
        <div>
            <label for="password" class="text-field__label">Пароль</label>
            <input th:field="*{password}" class="text-field__input" type="password" id="password" name="password" required/><br/>
        </div>
    </div>
    <div class="btn_container">
        <button type="submit" class="button__create">Зарегистрироваться</button>
    </div>
</form>
</body>
</html>
